/* Navbar Container */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
    z-index: 1000;
    background-color: white;
  }

  .navbar .nav-links a{
    color: #5294ea;
    font-size: 20px;
    font-weight: 700;
  }
  
  /* Navbar Background Visible on Scroll */
  .navbar.scrolled {
    background: rgba(0, 0, 0, 0.8);
  }
  
  .navbar.scrolled .hamburger .bar{
    background-color: aliceblue;
  }
  .navbar.scrolled .nav-links a{
    color: white;
  }

  .navbar.scrolled .nav-links a:hover{
    color: #5294ea;
  }

  .navbar .hamburger .bar{
    background-color: black;
  }
  /* Navbar Content */
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  /* Logo */
  .logo-image {
  width: 100%;
  max-width:75px;
  height: 100%;
  }
  
  /* Navigation Links */
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin: 0 15px;
    border-radius: 10px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
  }
  
  .nav-links a:hover {
    color: lightgray;
  }
  
  /* Hamburger Menu (Hidden on Desktop) */
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    background: white;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transition: 0.3s;
  }


  
  /* Responsive Navbar for Mobile */
  @media (max-width: 768px) {
    .hamburger {
      display: flex;
      margin-right: 10px;
    }
  
    .nav-links {
      position: absolute;
      top: 60px;
      width: 100%;
      background: black;
      flex-direction: column;
      align-items: center;
      display: none;
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .nav-links li {
      margin: 15px 0;
    }
 
  }
  